@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #faf7ef;
  --color-text: #000;
  --container-max: 1376px;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
